name: Snake Case Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-snake-case:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun i

      - name: Run snake case check
        run: bun run check-snake-case
